// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@500;600&display=swap');

// Variables

$clr-accent: #2d74ff;
$clr-black: #171832;

body {
  font-family: 'Montserrat', sans-serif;
  color: $clr-black;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

p {
  line-height: 1.4;
}

.main-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  width: auto;
  padding-bottom: 80px;
}

.section-title {
  position: relative;
  display: inline-block;
  font-size: 32px;
  line-height: 1.2;

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $clr-accent;
  }
}
