
// COLORS
$bg-color: #f7f2f0;
//$bg-color: #fff8dc;
// @primary-color: #b37feb;

$primary-color: #ef98aa;
$second-color: #be8ba2;

$gray-color: #727376;
$black-color: #171832;
$white-color: #fff;

// Fonts
$base-font: 'Montserrat', sans-serif;
$title-font: 'Roboto Slab', serif;
