
// COLORS
$bg-color: #f7f2f0;

//$primary-color: #f18d9e;
$primary-color: #9966CC;
$second-color: #9999FF;

$gray-color: #727376;
$black-color: #171832;
$white-color: #fff;

// Fonts
$base-font: 'Montserrat', sans-serif;
$title-font: 'Roboto Slab', serif;
